.page-content {
  margin-top: 25px; // ajusta el navbar height.
}

textarea.form-control {
  //width: 20rem;   // ancho fijo 
  height: 5rem;  // alto fijo 
  resize: none;   // evita que el usuario cambie el tamaño manualmente
  overflow-y: auto; // scroll vertikal
}