.page-content {
  margin-top: 25px; // ajusta el navbar height.
}

.filtros-container {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 0.5rem;
}

.dropdown-menu {
  z-index: 3000 !important; // evita que la ion-list tape el menú
}

// Estilo para íconos de log
.log-icon {
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.2rem;
}

.login i {
  color: #0d6efd;
  filter: drop-shadow(0 0 8px rgba(13, 110, 253, 0.4));
}

.logout i {
  color: #6c757d;
  filter: drop-shadow(0 0 8px rgba(108, 117, 125, 0.4));
}

.crear_categoria i {
  color: #198754;
  filter: drop-shadow(0 0 8px rgba(25, 135, 84, 0.4));
}

.editar_categoria i {
  color: #ffc107;
  filter: drop-shadow(0 0 8px rgba(255, 193, 7, 0.4));
}

.eliminar_categoria i {
  color: #dc3545;
  filter: drop-shadow(0 0 8px rgba(220, 53, 69, 0.4));
}