/* Ionic core and utilities (ya los tienes) */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/palettes/dark.system.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

/* Fuente global */
body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f8f9fa;
  color: #212529;
}

/* Habilitar scroll en toda la app */
html,
body,
ion-app,
ion-content {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Evitar que algún contenedor absolutizado bloquee el scroll */
#container {
  position: static !important;
  transform: none !important;
  text-align: center;
  padding: 2rem;
}

/* Colores del logo aplicados*/
.text-warning {
  color: #FFD43B !important;
}

/* Botones */
.btn-success {
  background-color: #198754;
  border-color: #198754;
}
.btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}