<ion-content fullscreen>
<app-navbar></app-navbar>

<div class="page-content">
  <div class="row g-3 justify-content-center">
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/angular-icon.png" class="tech-logo" alt="Angular"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/ionic-icon.png" class="tech-logo" alt="Ionic"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/google-firebase-icon.png" class="tech-logo" alt="Firebase"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/bootstrap-5-logo-icon.png" class="tech-logo" alt="Bootstrap-5"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/node-js-icon.png" class="tech-logo" alt="Node.js"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/html-icon.png" class="tech-logo" alt="HTML"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/css-icon.png" class="tech-logo" alt="CSS"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/supabase-icon.png" class="tech-logo" alt="SUPABASE"></div>
      <div class="col-4 col-md-2"><img src="/assets/icon/brands/typescript-programming-language-icon.png" class="tech-logo" alt="TYPESCRIPT"></div>
      <div class="col-4 col-md-2"><img src="\assets\icon\brands\visual-studio-code-icon.png" class="tech-logo" alt="Visual Code"></div>
      <div class="col-4 col-md-2"><img src="\assets\icon\brands\npm-icon.png" class="tech-logo" alt="NPM"></div>
    </div>
</div>

<!-- Footer -->
      <app-footer></app-footer>
<!-- Footer -->

</ion-content>
